.intro-content {
    position: relative;
    top: -7rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 100vh;
    gap: var(--gap);
}

.intro-text, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}

.top3-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    width: 65rem;
    text-align: center;
}